$primary-color: pink;
$secondary-color: #54d1c5;
$text-dark: #253030;
$text-light: #daf2f2;

$font-main: 'Inter', geometric sans-serifs, Arial, Roboto;
$font-heading: 'Playfair Display', Ariel, Inter, Roboto;

$transition-speed: 0.3s;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$hover-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);